#tituloPrincipal{
    text-align: center;
    
}

body{
    background-color: lightcyan;
}

.opciones{
    text-align: center;
}

#tituloP{
    text-align: center;
}
#tituloR{
    text-align: center;
}
#tituloIS{
    text-align: center;
}